<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      About this app
    </ion-list-header>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="./assets/me.jpg">
      </ion-avatar>
      <ion-label>
        <h1>
          Paulo Henrique Tokarski Glinski
        </h1>
        <h2>
          Developer
        </h2>
        <br>
        <h3>
          GitHub: 
          <a href="https://github.com/paulotokarskiglinski" target="_blank" title="Open my GitHub">
            https://github.com/paulotokarskiglinski
          </a>
        </h3>
        <h3>
          Linkedin: 
          <a href="https://www.linkedin.com/in/paulo-henrique-tokarski-glinski-329049b2/" target="_blank" title="Open my Linkedin">
            View my profile
          </a>
        </h3>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h2>
          This app was developed with Ionic and Angular
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
