ion-content ion-toolbar {
  --background: translucent;
}

ion-avatar  {     
  max-width: 15px !important;
  max-height: 15px !important;
  margin: 0 30px 0 20px !important;
}

h2 {
  white-space: pre-line;
}
